# Fill this file and rename it to config.toml

owner_id = 133311691852218378
prefix = "$"
guild_follow_limit = 50
guild_unlocked_follow_limit = 500

[keys]
discord_token = ""

[keys.twitter]
consumer_key = ""
consumer_secret = ""
access_token = ""
access_secret = ""

[database]
host = "127.0.0.1"
port = 3306
user = ""
password = ""
db = "fansitebot"