# Fill this file and rename it to config.toml

owner_id = 133311691852218378
prefix = "$"
guild_follow_limit = 30
guild_unlocked_follow_limit = 500

[keys]
discord_token = ""

[keys.twitter]
consumer_key = ""
consumer_secret = ""
access_token = ""
access_secret = ""

[database]
host = "fansite-bot-db"
port = 3306
user = "bot"
password = "botpw"
db = "fansitebot"