py-cord
# TODO: fix breaking changes and update to 4.0.0
# https://github.com/tweepy/tweepy/releases
tweepy==3.10.0
arrow
aiomysql
uvloop
psutil
toml
git+https://github.com/joinemm/discord-ext-menus#egg=discord-ext-menus
statcord.py
coloredlogs

# dev dependencies
black
flake8